fastapi
strawberry-graphql
uvicorn
python-multipart
python-dotenv
# Hugging Face (CPU ONLY)
transformers==4.37.2
torch==2.1.2+cpu  # Explicit CPU version!
numpy
pydantic_settings
pydantic
sqlalchemy
alembic
psycopg2-binary
httpx
watchdog
tqdm
scikit-learn